<header class="px-4 sm:px-6 lg:px-8">
  <script defer src="https://cloud.umami.is/script.js" data-website-id="101cab03-8199-4d29-b79e-3cdb2e0a9955"></script>
</header>
<main class="p-4">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
